@page "/branches"
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inject Grid grid

<h1>Branches</h1>

    <table id="branches" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Localizer["startBusName"]</th>
                <th>@Localizer["finBusName"]</th>
                <th>R1 (R2), [@Localizer["ohm"]]</th>
                <th>X1 (X2), [@Localizer["ohm"]]</th>
                <th>R0, [@Localizer["ohm"]]</th>
                <th>X0, [@Localizer["ohm"]]</th>
                <th>@Localizer["Unom"] @Localizer["startBus"], [@Localizer["kV"]]</th>
                <th>@Localizer["Unom"] @Localizer["finBus"], [@Localizer["kV"]]</th>
                <th>@Localizer["trans"] @Localizer["angle"], [@Localizer["deg"]] </th>
                <th>@Localizer["groundStartBus"]</th>
                <th>@Localizer["groundFinBus"]</th>
                <th>@Localizer["EMF"], [@Localizer["kV"]]</th>
                <th>@Localizer["EMF"] @Localizer["angle"], [@Localizer["deg"]]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in grid.Branches)
            {
                <tr>
                    <td>@elem.Value.Id</td>
                    <td>@grid.Buses[elem.Value.StartBusId]</td>
                    <td>@grid.Buses[elem.Value.FinalBusId]</td>
                    <td>@elem.Value.R1</td>
                    <td>@elem.Value.X1</td>
                    <td>@elem.Value.R0</td>
                    <td>@elem.Value.X0</td>
                    <td>@elem.Value.StUnom</td>
                    <td>@elem.Value.FinUnom</td>
                    <td>@elem.Value.Fi_trans</td>
                    <td>@elem.Value.GroundStBus</td>
                    <td>@elem.Value.GroundFinBus</td>
                    <td>@elem.Value.E</td>
                    <td>@elem.Value.Fi_E</td>
                </tr>
            }
        </tbody>
    </table>


@code {


    //Localizator
    I18nText.Pages.Branches Localizer = new I18nText.Pages.Branches();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Branches>(this);
    }
}