@layout MainLayout
@page "/Cookie"
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="container-fluid" style="text-align:justify;">
    <h1>@Localizer.Header</h1>
    <h2>@Localizer.Header2</h2>
    <p>@Localizer.Par1</p>
    <p>@Localizer.Par2</p>
    <h2>@Localizer.Header3</h2>
    <p>@Localizer.Par3</p>
    <p>@Localizer.Par4</p>
    <p>@Localizer.Par5</p>    
</div>

@code {    
    I18nText.Pages.Cookie Localizer = new I18nText.Pages.Cookie();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Cookie>(this);
    }

}