@page "/"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="w3-animate-opacity">
    <h1 class="text-center">@Localizer.Index_Header</h1>
    <img src="/img/Lighting.png" style="height:250px"/>
    <p>@Localizer.Index_p1</p>
    <p>@Localizer.Index_p2</p>
    <p>@Localizer.Index_p3 <a href="/advices">@Localizer.Index_p3_1</a> </p>
    <p>@Localizer.Index_p4_1 <a href="/gridmanager">@Localizer.Index_p4_2</a></p>
</div>

@code
{

    //Localizator
    I18nText.Pages.Index Localizer = new I18nText.Pages.Index();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Index>(this);
    }
}