@page "/mutual_induction"
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
<div class="d-flex flex-column" style="flex:1">
    <h1>Mutual inductions</h1>

    <body>
        <table id="mutuals" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>@Localizer["firstBranch"]</th>
                    <th>@Localizer["secondBranch"]</th>
                    <th>R, [@Localizer["ohm"]]</th>
                    <th>X, [@Localizer["ohm"]]</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var elem in grid.Mutuals)
                {
                    <tr>
                        <td>@elem.Value.Id</td>
                        <td>@grid.Branches[elem.Value.IdFirstBranch]</td>
                        <td>@grid.Branches[elem.Value.IdSecondBranch]</td>
                        <td>@elem.Value.R</td>
                        <td>@elem.Value.X</td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</div>
    @code {
        Grid grid = new Grid();

        //Localizator
        I18nText.Pages.Branches Localizer = new I18nText.Pages.Branches();

        protected override async Task OnInitializedAsync()
        {
            Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Branches>(this);
        }
    }
