@page "/mutual_induction"
@using Blazorise.DataGrid
@using TKZ.Shared.Model
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@inject LogBase Log
@inject Grid grid

<h1>@Localizer.MutualHeader</h1>

@if (mutuals == null)
{
    <LoadingElement />
}
else
{
    <div class="w3-animate-opacity">
        <DataGrid TItem="Mutual"
                  Data="@mutuals"
                  PageSize="@mutuals.Count"
                  EditMode="@DataGridEditMode.Inline"
                  Editable="true"
                  Sortable="true"
                  Filterable="true"
                  RowInserted="@OnRowInserted"
                  RowUpdated="@OnRowUpdated"
                  RowRemoved="@OnRowRemoved"
                  Narrow="true"
                  HeaderRowClass="small"
                  HeaderRowStyle="background-color:var(--light_color);"
                  Class="my_table">

            @*IsActive*@
            <DataGridColumn TItem="Mutual"
                            Field="@nameof(Mutual.IsActive)"
                            Caption="@(@Localizer.IsActive)"
                            Editable="true"
                            Sortable="true">
                <DisplayTemplate>
                    <Check TValue="bool" Checked="context.IsActive" CheckedChanged="@((v)=>context.IsActive = v)" />
                </DisplayTemplate>
                <EditTemplate>
                    <Check TValue="bool" Checked="@((bool)( ( (CellEditContext)context ).CellValue ))" CheckedChanged="@(( v ) => ( (CellEditContext)context ).CellValue = v)" />
                </EditTemplate>
                <FilterTemplate>
                    <Select TValue="string" SelectedValueChanged="@(e => context.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
                        <SelectItem Value="@("*")"></SelectItem>
                        <SelectItem Value="@(true.ToString())">@Localizer.ActiveFilter</SelectItem>
                        <SelectItem Value="@(false.ToString())">@Localizer.NotActiveFilter</SelectItem>
                    </Select>
                </FilterTemplate>
            </DataGridColumn>
            @*IdFirstBranch*@
            <DataGridNumericColumn TItem="Mutual"
                                   Field="@nameof(Mutual.IdFirstBranch)"
                                   Caption="@Localizer.firstBranch"
                                   Editable="true"
                                   Sortable="true">
                <DisplayTemplate>
                    @if (grid.Branches.ContainsKey(context.IdFirstBranch))
                    {
                        @grid.Branches[context.IdFirstBranch].Name;
                    }
                </DisplayTemplate>
                <EditTemplate>
                    <Select TValue="int" SelectedValue="@((int)(((CellEditContext)context).CellValue))" SelectedValueChanged="@((v) => ((CellEditContext)context).CellValue = v)">
                        <SelectItem Class="active" TValue="int" Value="@(0)"></SelectItem>
                        @foreach (var item in grid.Branches.Values.OrderBy(b => b.Name))
                        {
                            <SelectItem TValue="int" Value="@(item.Id)">@item.Name</SelectItem>
                        }
                    </Select>
                </EditTemplate>
                <FilterTemplate>
                    <Select TValue="string" SelectedValueChanged="@(e => context.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
                        <SelectItem Value="@("*")"></SelectItem>
                        @foreach (var item in mutuals.Select(b => b.IdFirstBranch).Distinct().OrderBy(n => n))
                        {
                            if (grid.Branches.ContainsKey(item))
                            {
                                <SelectItem Value="@item">@grid.Branches[item].Name</SelectItem>
                            }
                        }
                    </Select>
                </FilterTemplate>
            </DataGridNumericColumn>
            @*IdSecondBranch*@
            <DataGridNumericColumn TItem="Mutual"
                                   Field="@nameof(Mutual.IdSecondBranch)"
                                   Caption="@Localizer.secondBranch"
                                   Editable="true"
                                   Sortable="true">
                <DisplayTemplate>
                    @if (grid.Branches.ContainsKey(context.IdSecondBranch))
                    {
                        @grid.Branches[context.IdSecondBranch].Name;
                    }
                </DisplayTemplate>
                <EditTemplate>
                    <Select TValue="int" SelectedValue="@((int)(((CellEditContext)context).CellValue))" SelectedValueChanged="@((v) => ((CellEditContext)context).CellValue = v)">
                        <SelectItem Class="active" TValue="int" Value="@(0)"></SelectItem>
                        @foreach (var item in grid.Branches.Values.OrderBy(b => b.Name))
                        {
                            <SelectItem TValue="int" Value="@(item.Id)">@item.Name</SelectItem>
                        }
                    </Select>
                </EditTemplate>
                <FilterTemplate>
                    <Select TValue="string" SelectedValueChanged="@(e => context.TriggerFilterChange(e == "*" ? "" : e.ToString()))">
                        <SelectItem Value="@("*")"></SelectItem>
                        @foreach (var item in mutuals.Select(b => b.IdSecondBranch).Distinct().OrderBy(n => n))
                        {
                            if (grid.Branches.ContainsKey(item))
                            {
                                <SelectItem Value="@item">@grid.Branches[item].Name</SelectItem>
                            }
                        }
                    </Select>
                </FilterTemplate>
            </DataGridNumericColumn>
            @*R*@
            <DataGridNumericColumn TItem="Mutual"
                                   Field="@nameof(Mutual.R)"
                                   Caption="@(new String("R, ["+@Localizer.ohm+"]"))"
                                   Editable="true"
                                   Sortable="true"></DataGridNumericColumn>
            @*X*@
            <DataGridNumericColumn TItem="Mutual"
                                   Field="@nameof(Mutual.X)"
                                   Caption="@(new String("X, ["+@Localizer.ohm+"]"))"
                                   Editable="true"
                                   Sortable="true"></DataGridNumericColumn>

            @*Commands*@
            <DataGridCommandColumn TItem="Mutual" Width="270px">
                <NewCommandTemplate>
                    <Button Active="true"
                            Class="round"
                            Clicked="@context.Clicked">
                        <svg @onclick="@(() => {})" class="menu-icon">
                            <use href="/img/Icon.svg#Add"></use>
                        </svg>
                    </Button>
                </NewCommandTemplate>
                <EditCommandTemplate>
                    <Button Class="transparent"
                            Clicked="@context.Clicked">
                        <svg class="edit-icon" @onclick="@(() => {})">
                            <use href="/img/Icon.svg#Edit"></use>
                        </svg>
                    </Button>
                    <Button Class="transparent"
                            @onclick=@(() => DuplicateItem(context.Item))>
                        <svg class="edit-icon" @onclick="@(() => {})">
                            <use href="/img/Icon.svg#Copy"></use>
                        </svg>
                    </Button>
                </EditCommandTemplate>
                <DeleteCommandTemplate>
                    <Button Class="transparent" Clicked="@context.Clicked">
                        <svg @onclick="@(() => {})" class="edit-icon">
                            <use href="/img/Icon.svg#Delete"></use>
                        </svg>
                    </Button>
                </DeleteCommandTemplate>
                <SaveCommandTemplate>
                    <Button Class="my_button primary" Clicked="@context.Clicked">@Localizer.Save</Button>
                </SaveCommandTemplate>
                <CancelCommandTemplate>
                    <Button Class="my_button secondary" Clicked="@context.Clicked">@Localizer.Cancel</Button>
                </CancelCommandTemplate>
                <ClearFilterCommandTemplate>
                    <Button Class="my_button secondary" Clicked="@context.Clicked">@Localizer.Filter</Button>
                </ClearFilterCommandTemplate>
            </DataGridCommandColumn>
        </DataGrid>
    </div>

}

@code {
    private List<Mutual> mutuals { get; set; }

    void OnRowInserted(SavedRowItem<Mutual, Dictionary<string, object>> e)
    {
        grid.Mutuals.Add(e.Item.Id, e.Item);
    }

    //TODO: Implement(?)
    void OnRowUpdated(SavedRowItem<Mutual, Dictionary<string, object>> e)
    {
    }

    void OnRowRemoved(Mutual e)
    {
        if (grid.Mutuals.Values.Contains(e))
        {
            grid.Mutuals.Remove(e.Id);
        }
    }

    //TODO: Сделать механизм возникновения ошибки при одинаковых номерах (наименованиях)
    void DuplicateItem(Mutual e)
    {
        var new_mut = new Mutual()
        {
            Name = e.Name,
            IdFirstBranch = e.IdFirstBranch,
            IdSecondBranch = e.IdSecondBranch,
            X = e.X,
            R = e.R
        };

        mutuals.Add(new_mut);
        grid.Mutuals.Add(new_mut.Id, new_mut);

        StateHasChanged();
    }

    //Localizator
    I18nText.Pages.Branches Localizer = new I18nText.Pages.Branches();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Pages.Branches>(this);
        mutuals = await Task.Run(() => grid.Mutuals.Values.ToList<Mutual>());
    }

    protected override async Task OnAfterRenderAsync(bool firstrender)
    {
        await ValidateOnRender();
    }
}