@page "/nodes"
@inject HttpClient Http
@inject IStringLocalizer<Navs> L

<body>    
    <table id="buses" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>@L["NameBut"]</th>
                <th>@L["VoltageСlass"]</th>                    
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in grid.Buses)
            {
                <tr>
                    <td>@elem.Value.Id</td>
                    <td>@elem.Value.Name</td>
                    <td>@elem.Value.Unom</td>                        
                </tr>
            }
        </tbody>
    </table>
</body>


@code {

    Grid grid = new Grid();

}