@page "/nodes"
@inject HttpClient Http
@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<body>
    <table id="buses" class="table table-striped table-bordered" cellspacing="0" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>@Localiser["NameBut"]</th>
                <th>@L["VoltageСlass"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var elem in grid.Buses)
            {
                <tr>
                    <td>@elem.Value.Id</td>
                    <td>@elem.Value.Name</td>
                    <td>@elem.Value.Unom</td>
                </tr>
            }
        </tbody>
    </table>
</body>


@code {

    Grid grid = new Grid();


    //Localizator
    I18nText.Shared.Navs Localizer = new I18nText.Shared.Navs();

    protected override async Task OnInitializedAsync()
    {
        Localizer = await I18nText.GetTextTableAsync<I18nText.Shared.Navs>(this);
    }
}