@page "/calc"
@inject Toolbelt.Blazor.I18nText.I18nText I18nText
@using TKZ.Client.Pages.Components
<div class="d-flex flex-row" style="flex:1">
    <div class="d-flex flex-column parameter frame flex-fill">
        <!--parameter-->
        <form class="d-flex flex-column flex-fill"
              action=""
              id="parameter">
            <h5>Дуга</h5>
            <div class="row">

                <label for="Rarc" style="width: calc(50% - 8px); margin-right: var(--st_margin)">R:</label>
                <label for="Xarc">X:</label>
                <input class="form-control" type="text"
                       id="Rarc"
                       name="Rarc"
                       placeholder="0"
                       style="width: calc(50% - 8px); margin-right: var(--st_margin)">
                <input class="form-control"
                       type="text"
                       id="Xarc"
                       name="Xarc"
                       placeholder="0"
                       style="width: calc(50% - 8px)">
            </div>
            <h5>Вид короткого замыкания:</h5>
            <div class="d-flex flex-row justify-content-between">
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="TypeSC-1" name="TypeSC" value="1">
                    <label class="custom-control-label" for="TypeSC-1">1</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="TypeSC-2" name="TypeSC" value="2">
                    <label class="custom-control-label" for="TypeSC-2">1,1</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="TypeSC-3" name="TypeSC" value="3">
                    <label class="custom-control-label" for="TypeSC-3">2</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input class="custom-control-input" type="checkbox" id="TypeSC-4" name="TypeSC" value="4" checked>
                    <label class="custom-control-label" for="TypeSC-4">3</label>
                </div>
            </div>
                <h5>Узлы для расчета:</h5>
                <div class="d-flex flex-row">
                    <input class="form-control"
                           type="text"
                           name="Node"
                           id="NodeNum"
                           placeholder="Наименование узла"
                           style="margin-bottom: var(--st_margin); margin-top: var(--st_margin); flex: 1">
                    <Button_Add_Node_For_Calc />
                </div>

                <div class="chips_area flex-fill">
                    <div class="d-flex flex-row flex-fill justify-content-between">
                        <Radio TValue="string" Group="ChooseNode" Value="@("1")" Checked="true">1</Radio>
                        <button class="transparent icon-delete">
                            <svg @onclick="@(() => {})" class="edit-icon">
                                <use href="/img/Icon.svg#Delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <Radio TValue="string" Group="ChooseNode" Value="@("10")">10</Radio>
                        <button class="transparent icon-delete">
                            <svg @onclick="@(() => {})" class="edit-icon">
                                <use href="/img/Icon.svg#Delete"></use>
                            </svg>
                        </button>
                    </div>
                    <div class="d-flex flex-row justify-content-between">
                        <Radio TValue="string" Group="ChooseNode" Value="@("Очень длинное название")">Очень длинное название</Radio>
                        <button class="transparent icon-delete">
                            <svg @onclick="@(() => {})" class="edit-icon">
                                <use href="/img/Icon.svg#Delete"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                    <button class="my_button primary"
                            type="submit"
                            form="parameter"
                            style="margin: 0px;">
                        Расчёт
                    </button>
</form>
    </div>
    <div class="d-flex flex-column flex-fill" style="padding:0 ">
        <div class="frame">
            <label for="ContNode">Выберите контролируемый узел:</label>
            <input class="form-control" type="text" name="ContNode" id="ContNode" placeholder="Наименование узла" style="width: 200px; display: inline-block;">
            <Button_Add_Node_For_Calc/>
        </div>
        <div class="frame flex-fill">
            <h1>Результаты расчёта</h1>

        </div>
    </div>

</div>

@code {

    CalculationRequest request = new CalculationRequest();
}