@using System.Globalization
@inject IStringLocalizer<Navs> L
<div class="my_sidebar mh-100 d-flex flex-column mh-100">
    <!--sidebar-->
    <div class="nav flex-column nav-pills mh-100" style="flex: 1;">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/home.svg">@L["HomeBut"]
        </NavLink>
        <NavLink class="nav-link" href="/nodes" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/node.svg">@L["NodeBut"]
        </NavLink>
        <NavLink class="nav-link" href="/branches" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/branch.svg">@L["BranchBut"]
        </NavLink>
        <NavLink class="nav-link" href="/mutual_induction" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/mutual_induction.svg">@L["MutBut"]
        </NavLink>
        <NavLink class="nav-link" href="/calc" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/thunder.svg">@L["CalcBut"]
        </NavLink>
        <NavLink class="nav-link" href="/adv" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/reading.svg">@L["AdvBut"]
        </NavLink>
        <NavLink class="nav-link" href="/contacts" Match="NavLinkMatch.All" ActiveClass="active">
            <img class="menu-icon" src="img/contact.svg">@L["ContactBut"]
        </NavLink>
        <div class="mt-auto"
             style="margin: 8px; 
                    background: grey; 
                    line-height: 200px;
                    height: 200px">
            Рекламный блок
        </div>
    </div>
</div>

@code {

}